# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Environment
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Deployment working directory
deploy_workdir/
